.app {
  text-align: center;
  margin: 16px;
}

@media (min-width: 768px) {
  .app {
    margin: 32px 64px;
  }
}

@media (min-width: 1024px) {
  .app {
    margin: 32px 170px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
